{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <title>{% block title %}News{% endblock  %}</title>
</head>
<body>


{% block menu %}MENU{% endblock %}

{% load cache %}
{% cache 30 sidebar %}
    {% block sidebar %}{% endblock %}
{% endcache %}

{% block title-site %}{% endblock %}
{% block content %}CONTENT{% endblock %}
<nav>
    <ul class = "paginator">
        {% for p in page_obj.paginator.page_range %}
            <li class = "page_item">
                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>


</body>
</html>