{% extends 'base.html' %}

{% block title %}
    Контактная форма : {{ block.super }}
{% endblock  %}

{% block menu %}
    {% include 'inc/_nav.html' %}
{% endblock  %}



{% block content %}
    <div class="wrapper">
        <div class="inner">
            <form method="post">
                {% csrf_token %}
                <div class="title-add">
                    <h3>Обратная связь</h3>
                </div>
                <label class="form-group">
                    <div class="category">
                    {{ form.subject}}
                        <span>Тема</span>
                        <span class="border"></span>
                    </div>
                <label class="form-group">
                    <div class="category">
                    {{ form.content }}
                        <span>Текст</span>
                        <span class="border"></span>
                    </div>
                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                            <button class="contact2-form-btn">
                            Отправить
                            </button>
                        </div>
                    </div>
                {{ form.captcha }}
                </div>
            </form>
        </div>
        </div>

{% endblock  %}

